<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<!------------------------------------------------------Шапка---------------------------------------------------------->
<div style="background-color: #343A40; padding-top: 10px;" class="container-fluid">
    <div class="row">
        <div class="col-11">
            <div class="d-flex justify-content-start">
                <div class="p-2"><h5 class="text-white fw-bold" th:text="${user.email}"/></div>
                <div class="p-2"><h5 class="text-white fw-normal">с ролью: </h5></div>
                <div class="p-2" th:each="role : ${user.roles}">
                    <h5 class="text-white fw-normal" th:text="${role.role}"/>
                </div>
            </div>
        </div>
        <div class="col-1">
            <div class="d-flex position-relative justify-content-start">
                <div class="p-2">
                    <a style="text-decoration: none" href="/logout" class="text-white-50 stretched-link">Выйти</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--------------------------------------------------------Тело--------------------------------------------------------->
<div style="padding-top: 10px" class="container-fluid">
    <div class="row">
        <div class="col-2" style="padding-left: 0; padding-right: 0">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <!------------Кнопка Администратора------------>
                <button class="nav-link text-start active"
                        id="admin"
                        data-bs-toggle="pill"
                        data-bs-target="#v-pills-admin"
                        type="button"
                        role="tab"
                        aria-controls="v-pills-home"
                        aria-selected="true">Администратор
                </button>

                <!------------Кнопка Пользоваетля------------->
                <button class="nav-link text-start"
                        id="user"
                        data-bs-toggle="pill"
                        data-bs-target="#v-pills-user"
                        type="button" role="tab"
                        aria-controls="v-pills-profile"
                        aria-selected="false">Пользователь
                </button>

            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">

                <!---------Административная панель управления--------->
                <div class="tab-pane fade show active"
                     id="v-pills-admin"
                     role="tabpanel"
                     aria-labelledby="admin">

                    <!-------------------Вкладки--------------------->
                    <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active"
                           id="nav-users-tab"
                           data-bs-toggle="tab"
                           href="#nav-home"
                           role="tab"
                           aria-controls="nav-home"
                           aria-selected="true">Список пользователей</a>

                        <a class="nav-link"
                           id="nav-new-users-tab"
                           data-bs-toggle="tab"
                           href="#nav-profile"
                           role="tab"
                           aria-controls="nav-profile"
                           aria-selected="false">Новый пользователь</a>
                    </nav>

                    <!-------------------Вложения-------------------->
                    <div class="tab-content" id="nav-tabContent" style="margin-top: 10px">

                        <!-------------Таблица пользователей------------->
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                             aria-labelledby="nav-users-tab">
                            <div class="card-header"><h5>Все пользователи</h5></div>
                            <hr>
                            <div class="card-body">

                                <table class="table">
                                    <!---------Шапка таблицы---------->
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Имя</th>
                                        <th scope="col">Фамилия</th>
                                        <th scope="col">Возраст</th>
                                        <th scope="col">E-mail</th>
                                        <th scope="col">Роль</th>
                                        <th scope="col">Изменить</th>
                                        <th scope="col">Удалить</th>
                                    </tr>
                                    </thead>

                                    <!---------Тело таблицы---------->
                                    <tbody>
                                    <tr th:each="user_var : ${users}">
                                        <td th:text="${user_var.id}"></td>
                                        <td th:text="${user_var.firstName}"></td>
                                        <td th:text="${user_var.lastName}"></td>
                                        <td th:text="${user_var.age}"></td>
                                        <td th:text="${user_var.email}"></td>
                                        <td>

                                            <!---------Вывод ролей---------->
                                            <div class="d-flex">
                                                <div style="padding-right: 8px" th:each="role : ${user_var.roles}"
                                                     th:text="${role.role}"></div>
                                            </div>
                                        </td>

                                        <!-----Кнопка модального окна изменения---->
                                        <td>

                                            <button type="button"
                                                    class="btn btn-info"
                                                    data-bs-toggle="modal"
                                                    th:data-bs-target="${'#userEditId' + user_var.id}">

                                                Изменить
                                            </button>

                                            <!---------Модальное окно изменения--------->
                                            <div class="modal fade" th:id="${'userEditId' + user_var.id}" tabindex="-1"
                                                 aria-labelledby="EditModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <!--Шапка модального окна-->
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="EditModalLabel">
                                                                Изменить пользователя
                                                            </h5>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Закрыть"></button>
                                                        </div>

                                                        <form th:method="POST" th:action="@{/admin/}"
                                                              th:with="add_user = ${user_var}"
                                                              th:object="${add_user}">

                                                            <div class="row">
                                                                <div class="col-8 offset-md-2">

                                                                    <!--Тело модального окна-->
                                                                    <div class="modal-body text-center">

                                                                        <div class="mb-3">
                                                                            <label for="id"
                                                                                   class="form-label fw-bold">
                                                                                ID</label>
                                                                            <input type="text" name="id"
                                                                                   class="form-control"
                                                                                   th:value="${user_var.id}" id="id">
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label for="firstName"
                                                                                   class="form-label fw-bold">
                                                                                Имя</label>
                                                                            <input type="text" name="firstName"
                                                                                   class="form-control"
                                                                                   th:value="${user_var.firstName}"
                                                                                   id="firstName"/>

                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label for="lastName"
                                                                                   class="form-label fw-bold">
                                                                                Фамилия
                                                                            </label>
                                                                            <input type="text" name="lastName"
                                                                                   class="form-control"
                                                                                   th:value="${user_var.lastName}"
                                                                                   id="lastName"/>

                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label for="age" class="form-label fw-bold">
                                                                                Возраст
                                                                            </label>
                                                                            <input type="number" name="age"
                                                                                   class="form-control"
                                                                                   th:value="${user_var.age}"
                                                                                   id="age"/>

                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label for="email"
                                                                                   class="form-label fw-bold">
                                                                                Email</label>
                                                                            <input type="email" name="email"
                                                                                   class="form-control"
                                                                                   th:value="${user_var.email}"
                                                                                   id="email">

                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label for="password"
                                                                                   class="form-label fw-bold">
                                                                                Пароль</label>
                                                                            <input type="password" name="password"
                                                                                   class="form-control"
                                                                                   id="password">
                                                                        </div>

                                                                        <div class="mb-3">
                                                                            <label for="role" class="form-label fw-bold">
                                                                                Роль</label>
                                                                            <select multiple class="form-control"
                                                                                    name="role" id="role"
                                                                                    required="required"
                                                                                    size="2">
                                                                                <option value="ADMIN"
                                                                                        style="width: 310px;">
                                                                                    ADMIN
                                                                                </option>
                                                                                <option value="USER"
                                                                                        style="width: 310px;">
                                                                                    USER
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal">
                                                                    Закрыть
                                                                </button>

                                                                <input type="submit" class="btn btn-primary"
                                                                       value="Изменить"/>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <!-----Кнопка модального окна удаления----->
                                        <td>
                                            <button type="button"
                                                    class="btn btn-danger"
                                                    data-bs-toggle="modal"
                                                    th:data-bs-target="${'#userDeleteId' + user_var.id}">
                                                Удалить
                                            </button>

                                            <!---------Модальное окно изменения--------->
                                            <div class="modal fade" th:id="${'userDeleteId' + user_var.id}"
                                                 tabindex="-1"
                                                 aria-labelledby="DeleteModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <!--Шапка модального окна-->
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="DeleteModalLabel">
                                                                Удаление пользователя
                                                            </h5>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Закрыть"></button>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-8 offset-md-2">

                                                                <!--Тело модального окна-->
                                                                <div class="modal-body text-center">

                                                                    <div class="mb-3">
                                                                        <label for="delete-id"
                                                                               class="form-label fw-bold">
                                                                            ID</label>
                                                                        <input type="text" name="id"
                                                                               class="form-control"
                                                                               th:value="${user_var.id}" id="delete-id">
                                                                    </div>

                                                                    <div class="mb-3">
                                                                        <label for="delete-name"
                                                                               class="form-label fw-bold">
                                                                            Имя</label>
                                                                        <input type="text" name="firstName"
                                                                               class="form-control"
                                                                               th:value="${user_var.firstName}"
                                                                               id="delete-name"/>

                                                                    </div>

                                                                    <div class="mb-3">
                                                                        <label for="delete-last-name"
                                                                               class="form-label fw-bold">
                                                                            Фамилия
                                                                        </label>
                                                                        <input type="text" name="lastName"
                                                                               class="form-control"
                                                                               th:value="${user_var.lastName}"
                                                                               id="delete-last-name"/>

                                                                    </div>

                                                                    <div class="mb-3">
                                                                        <label for="delete-age" class="form-label fw-bold">
                                                                            Возраст
                                                                        </label>
                                                                        <input type="number" name="age"
                                                                               class="form-control"
                                                                               th:value="${user_var.age}"
                                                                               id="delete-age"/>

                                                                    </div>

                                                                    <div class="mb-3">
                                                                        <label for="delete-email"
                                                                               class="form-label fw-bold">
                                                                            Email</label>
                                                                        <input type="email" name="email"
                                                                               class="form-control"
                                                                               th:value="${user_var.email}"
                                                                               id="delete-email">

                                                                    </div>

                                                                    <div class="mb-3">
                                                                        <label for="delete-password"
                                                                               class="form-label fw-bold">
                                                                            Пароль</label>
                                                                        <input type="password" name="password"
                                                                               class="form-control"
                                                                               id="delete-password">
                                                                    </div>

                                                                    <div class="mb-3">
                                                                        <label for="age" class="form-label fw-bold">
                                                                            Роль</label>
                                                                        <select multiple class="form-control"
                                                                                name="role"
                                                                                required="required"
                                                                                size="2">
                                                                            <option value="ADMIN"
                                                                                    style="width: 310px;">
                                                                                ADMIN
                                                                            </option>
                                                                            <option value="USER"
                                                                                    style="width: 310px;">
                                                                                USER
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">
                                                                Закрыть
                                                            </button>

                                                            <form th:method="DELETE"
                                                                  th:action="@{/admin/remove?id={id}(id=${user_var.getId()})}">
                                                                <input type="submit" class="btn btn-danger" value="УДАЛИТЬ">
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!--------------Создание нового пользователя-------------->
                        <div class="tab-pane fade"
                             id="nav-profile"
                             role="tabpanel"
                             aria-labelledby="nav-new-users-tab">

                            <div class="card-header">
                                <h5>Добавление нового пользователя</h5>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-4 offset-md-4">
                                    <div class="card-body text-center">

                                        <form th:method="POST" th:action="@{/admin/}" th:object="${add_user}">
                                            <div class="mb-3">
                                                <div class="alert alert-danger" role="alert"
                                                     th:if="${#fields.hasErrors('firstName')}"
                                                     th:errors="*{firstName}"></div>
                                                <label for="first_name" class="form-label fw-bold">Имя</label>
                                                <input type="text" class="form-control" th:field="*{firstName}"
                                                       th:placeholder="Имя"
                                                       id="first_name"/>

                                            </div>

                                            <div class="mb-3">
                                                <div class="alert alert-danger" role="alert"
                                                     th:if="${#fields.hasErrors('lastName')}"
                                                     th:errors="*{lastName}"></div>
                                                <label for="last_name" class="form-label fw-bold">Фамилия</label>
                                                <input type="text" class="form-control" th:field="*{lastName}"
                                                       th:placeholder="Фамилия"
                                                       id="last_name"/>

                                            </div>

                                            <div class="mb-3">
                                                <div class="alert alert-danger" role="alert"
                                                     th:if="${#fields.hasErrors('age')}"
                                                     th:errors="*{age}"></div>
                                                <label for="new_age" class="form-label fw-bold">Возраст</label>
                                                <input type="number" class="form-control" name="age" value=""
                                                       th:placeholder="Возраст"
                                                       id="new_age"/>

                                            </div>

                                            <div class="mb-3">
                                                <div class="alert alert-danger" role="alert"
                                                     th:if="${#fields.hasErrors('email')}"
                                                     th:errors="*{email}"></div>
                                                <label for="new_email" class="form-label fw-bold">Email</label>
                                                <input type="email" class="form-control" th:field="*{email}"
                                                       th:placeholder="Email"
                                                       id="new_email">

                                            </div>

                                            <div class="mb-3">
                                                <div class="alert alert-danger" role="alert"
                                                     th:if="${#fields.hasErrors('password')}"
                                                     th:errors="*{password}"></div>
                                                <label for="new_password" class="form-label fw-bold">Пароль</label>
                                                <input type="password" class="form-control" th:field="*{password}"
                                                       th:placeholder="Пароль"
                                                       id="new_password">
                                            </div>

                                            <div class="mb-3">
                                                <label for="age" class="form-label fw-bold">Роль</label>
                                                <select multiple class="form-control" name="role" required="required"
                                                        size="2">
                                                    <option value="ADMIN" style="width: 310px;">ADMIN</option>
                                                    <option value="USER" style="width: 310px;">USER</option>
                                                </select>
                                            </div>

                                            <button type="submit" class="btn btn-success">Добавить нового
                                                пользователя
                                            </button>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!---------Информация о пользователе---------->
                <div class="tab-pane fade"
                     id="v-pills-user"
                     role="tabpanel"
                     aria-labelledby="user">

                    <!---------------Описание------------------->
                    <h2>Страница с пользовательской информацие</h2>
                    <div class="card">
                        <div class="card-header"><h5>О пользователе</h5></div>
                        <div class="card-body">

                            <!----Таблица с информацией о пользователе---->
                            <table class="table">

                                <!---------Шапка таблицы---------->
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Имя</th>
                                    <th scope="col">Фамилия</th>
                                    <th scope="col">Возраст</th>
                                    <th scope="col">E-mail</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>

                                <!---------Тело таблицы---------->
                                <tbody>
                                <tr>
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${user.firstName}"></td>
                                    <td th:text="${user.lastName}"></td>
                                    <td th:text="${user.age}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td>

                                        <!---------Вывод ролей---------->
                                        <div class="d-flex">
                                            <div style="padding-right: 8px" th:each="role : ${user.roles}"
                                                 th:text="${role.role}"></div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
</script>
</body>
</html>