<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<!------------------------------------------------------Шапка---------------------------------------------------------->
<div style="background-color: #343A40; padding-top: 10px;" class="container-fluid">
    <div class="row">
        <div class="col-11">
            <div class="d-flex justify-content-start">
                <div class="p-2">
                    <h5 class="text-white fw-bold" th:text="${#authentication.name}"/>
                </div>
                <div class="p-2"><h5 class="text-white fw-normal">с ролью: </h5></div>
                <th:block th:each="role : ${#authentication.authorities}">
                    <div class="p-2">
                        <h5 class="text-white fw-normal" th:text="${role.authority.substring(5)}"/>
                    </div>
                </th:block>
            </div>
        </div>
        <div class="col-1">
            <div class="d-flex position-relative justify-content-start">
                <div class="p-2">
                    <a style="text-decoration: none" href="/" class="text-white-50 stretched-link">Выйти</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--------------------------------------------------------Тело--------------------------------------------------------->
<div style="padding-top: 10px" class="container-fluid">
    <div class="row">
        <div class="col-2" style="padding-left: 0; padding-right: 0">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <!------------Кнопка Администратора------------>
                <button class="nav-link text-start active"
                        id="admin"
                        data-bs-toggle="pill"
                        data-bs-target="#v-pills-admin"
                        type="button"
                        role="tab"
                        aria-controls="v-pills-home"
                        aria-selected="true">Администратор
                </button>

                <!------------Кнопка Пользоваетля------------->
                <button class="nav-link text-start"
                        id="user"
                        data-bs-toggle="pill"
                        data-bs-target="#v-pills-user"
                        type="button" role="tab"
                        aria-controls="v-pills-profile"
                        aria-selected="false">Пользователь
                </button>

            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
<!--------------------------------------Административная панель управления--------------------------------------------->
                <div class="tab-pane fade show active"
                     id="v-pills-admin"
                     role="tabpanel"
                     aria-labelledby="admin">

                    <!-------------------Вкладки--------------------->
                    <nav class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-link active"
                           id="nav-users-tab"
                           data-bs-toggle="tab"
                           href="#nav-home"
                           role="tab"
                           aria-controls="nav-home"
                           aria-selected="true">Список пользователей</a>

                        <a class="nav-link"
                           id="nav-new-users-tab"
                           data-bs-toggle="tab"
                           href="#nav-profile"
                           role="tab"
                           aria-controls="nav-profile"
                           aria-selected="false">Новый пользователь</a>
                    </nav>

                    <!-------------------Вложения-------------------->
                    <div class="tab-content" id="nav-tabContent" style="margin-top: 10px">

                        <!-------------Таблица пользователей------------->
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                             aria-labelledby="nav-users-tab">
                            <div class="card-header"><h5>Все пользователи</h5></div>
                            <hr>
                            <div class="card-body">

                                <table class="table">
                                    <!---------Шапка таблицы---------->
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Имя</th>
                                        <th scope="col">Фамилия</th>
                                        <th scope="col">Возраст</th>
                                        <th scope="col">E-mail</th>
                                        <th scope="col">Роль</th>
                                        <th scope="col">Изменить</th>
                                        <th scope="col">Удалить</th>
                                    </tr>
                                    </thead>

                                    <!---------Тело таблицы---------->
                                    <tbody id="usersTable"></tbody>
                                </table>
                            </div>
                        </div>

                        <!--------------Создание нового пользователя-------------->
                        <div class="tab-pane fade"
                             id="nav-profile"
                             role="tabpanel"
                             aria-labelledby="nav-new-users-tab">

                            <div class="card-header">
                                <h5>Добавление нового пользователя</h5>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-4 offset-md-4">
                                    <div class="card-body text-center">

                                        <form id="createNewUser">
                                            <div class="mb-3">
                                                <div id="firstNameError" class="alert alert-danger" role="alert"
                                                    style="display: none">
                                                </div>
                                                <label class="form-label fw-bold">Имя</label>
                                                <input type="text" class="form-control" name="firstName"/>
                                            </div>

                                            <div class="mb-3">
                                                <div id="lastNameError" class="alert alert-danger" role="alert"
                                                     style="display: none"></div>
                                                <label class="form-label fw-bold">Фамилия</label>
                                                <input type="text" class="form-control" name="lastName"/>

                                            </div>

                                            <div class="mb-3">
                                                <div id="ageError" class="alert alert-danger" role="alert"
                                                     style="display: none"></div>
                                                <label class="form-label fw-bold">Возраст</label>
                                                <input type="number" class="form-control" name="age"/>

                                            </div>

                                            <div class="mb-3">
                                                <div id="emailError" class="alert alert-danger" role="alert"
                                                     style="display: none"></div>
                                                <label class="form-label fw-bold">Email</label>
                                                <input type="email" class="form-control" name="email">

                                            </div>

                                            <div class="mb-3">
                                                <div id="passwordError" class="alert alert-danger" role="alert"
                                                     style="display: none"></div>
                                                <label class="form-label fw-bold">Пароль</label>
                                                <input type="password" class="form-control" name="password">
                                            </div>

                                            <div class="mb-3" id="selectorRolesNew"></div>

                                            <button type="submit" class="btn btn-success">Добавить нового
                                                пользователя
                                            </button>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

<!-----------------------------------------Информация о пользователе--------------------------------------------------->
                <div class="tab-pane fade"
                     id="v-pills-user"
                     role="tabpanel"
                     aria-labelledby="user">

                    <!---------------Описание------------------->
                    <h2>Страница с пользовательской информацие</h2>
                    <div class="card">
                        <div class="card-header"><h5>О пользователе</h5></div>
                        <div class="card-body">

                            <!----Таблица с информацией о пользователе---->
                            <table class="table">

                                <!---------Шапка таблицы---------->
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Имя</th>
                                    <th scope="col">Фамилия</th>
                                    <th scope="col">Возраст</th>
                                    <th scope="col">E-mail</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>

                                <!---------Тело таблицы---------->
                                <tbody>
                                <tr>
                                    <td th:text="${#authentication.getPrincipal().getId()}"></td>
                                    <td th:text="${#authentication.getPrincipal().getFirstName()}"></td>
                                    <td th:text="${#authentication.getPrincipal().getLastName()}"></td>
                                    <td th:text="${#authentication.getPrincipal().getAge()}"></td>
                                    <td th:text="${#authentication.getPrincipal().getEmail()}"></td>
                                    <td>

                                        <!---------Вывод ролей---------->
                                        <div class="d-flex">
                                            <div style="padding-right: 8px"
                                                 th:each="role : ${#authentication.authorities}"
                                                 th:text="${role.authority.substring(5)}"></div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!----------------------------------------------Модальные окна--------------------------------------------------------->

<!---------Модальное окно изменения--------->
<div class="modal fade" id="userEdit" tabindex="-1" role="dialog"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!------------Шапка модального окна-------------->
            <div class="modal-header">
                <h5 class="modal-title" id="EditModalLabel">
                    Изменить пользователя
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Закрыть"></button>
            </div>

            <form id="userEditForm">

                <div class="row">
                    <div class="col-8 offset-md-2">

                        <!------------Тело модального окна--------------->
                        <div class="modal-body text-center">

                            <div class="mb-3">
                                <label class="form-label fw-bold">ID</label>
                                <input type="text" name="id" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label class="form-label fw-bold">Имя</label>
                                <input type="text" name="firstName" class="form-control"/>
                            </div>

                            <div class="mb-3">
                                <label class="form-label fw-bold">Фамилия</label>
                                <input type="text" name="lastName" class="form-control"/>
                            </div>

                            <div class="mb-3">
                                <label class="form-label fw-bold">Возраст</label>
                                <input type="number" name="age" class="form-control"/>
                            </div>

                            <div class="mb-3">
                                <label class="form-label fw-bold">Email</label>
                                <input type="email" name="email" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label class="form-label fw-bold">Пароль</label>
                                <input type="password" name="password" class="form-control">
                            </div>

                            <div class="mb-3" id="selectorRoles"></div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="closeButtonUpdate"
                            data-bs-dismiss="modal">
                        Закрыть
                    </button>

                    <input type="submit" class="btn btn-primary"
                           value="Изменить"/>
                </div>
            </form>
        </div>
    </div>
</div>



<!---------Модальное окно удаления--------->
<div class="modal fade" id="deleteEdit"
     tabindex="-1"
     aria-labelledby="DeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Шапка модального окна-->
            <div class="modal-header">
                <h5 class="modal-title" id="DeleteModalLabel">
                    Удаление пользователя
                </h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Закрыть"></button>
            </div>
            <form id="userDeleteForm">
                <div class="row">
                    <div class="col-8 offset-md-2">

                        <!------------Тело модального окна--------------->
                        <div class="modal-body text-center">

                            <div class="mb-3">
                                <label class="form-label fw-bold">ID</label>
                                <input type="text" name="id" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label class="form-label fw-bold">Имя</label>
                                <input type="text" name="firstName" class="form-control" />
                            </div>

                            <div class="mb-3">
                                <label class="form-label fw-bold">Фамилия</label>
                                <input type="text" name="lastName" class="form-control"/>
                            </div>

                            <div class="mb-3">
                                <label class="form-label fw-bold">Возраст</label>
                                <input type="number" name="age" class="form-control"/>
                            </div>

                            <div class="mb-3">
                                <label class="form-label fw-bold">Email</label>
                                <input type="email" name="email" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label class="form-label fw-bold">Пароль</label>
                                <input type="password" name="password" class="form-control">
                            </div>

                            <div class="mb-3" id="selectorRolesDel"></div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="closeButtonDelete"
                            data-bs-dismiss="modal">
                        Закрыть
                    </button>
                    <input type="submit" class="btn btn-danger"
                           value="УДАЛИТЬ">
                </div>
            </form>
        </div>
    </div>
</div>
<script type="module" src="../static/admin.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
</script>
</body>
</html>